.movies-list{
    padding: 78px 0 0;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid #E8E8E8;
    
}

.movies-list__cards{
    padding: 0 0 60px;
    margin: 0 auto;
    display: grid;
    width: 100%;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 37px 24px;
}

.movies-list__btn{
    margin: 0 auto;
    display: block;
    background: #F9F9F9;
    border-radius: 6px;
    width: 320px;
    height: 36px;
    border: none;
    outline: none;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; 
    text-align: center;
    color: #000000;
    transition: opacity ease-in-out 0.5s ;
}

.movies-list__btn:hover{
    cursor: pointer;
    opacity: 0.8;
}


@media screen and (max-width: 1242px) {
    .movies-list__cards{
        gap: 30px;
    }
}

@media screen and (max-width: 720px) {
    .movies-list__btn{
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .movies-list {
        padding-top: 50px;
    }
    
    .movies-list__cards{
        gap: 14px 0px; 
    }
}