.search-form{
    display: flex;
    padding: 19px 30px 19px 60px ;
    margin: 0 0 70px;
    background: #FDFDFD;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    background-image: url('../../images/search-icon.svg');
    background-position-x: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.search-form__input{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    width: 60%;
}

::placeholder {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
  }
  
  :-ms-input-placeholder { 
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
  }
  
  ::-ms-input-placeholder { 
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
  }

  .search-form__btn{
    background: #3456F3;
    border-radius: 48px;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    width: 59px;
    height: 34px;
    padding: 0;
    margin: 0 25px 0 auto;
    position: relative;
    transition: opacity ease-in-out 0.4s;
    outline: none;
}

.search-form__btn::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 1px;
    background: #CBCBCB;
    right: -25px;
    top: -5px;
    
}

.search-form__btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.search-form__checkbox{
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.search-form__label{
    margin: 0;
    padding: 7px 0;
    cursor: pointer;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    display: flex;
}

.search-form__checkmark{
    width: 36px;
    height: 20px;
    background: #EBEBEB;
    border-radius: 20px;
    position: relative;
    margin: 0 14px 0 25px;
    padding: 0;
    display: block;
    transition: background ease-in-out 0.4s;
}
.search-form__label .search-form__checkbox:checked ~ .search-form__checkmark{  
    background: #2BE080;
}

.search-form__checkmark::after{
    content: "";
    position: absolute;
    background: #F5F5F5;
    top: 2px;
    left: 3px;
    width: 16px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 8%);
    height: 16px;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}
.search-form__label .search-form__checkbox:checked ~ .search-form__checkmark::after{
    background: #ffffff;
    left: 16px; 
}

@media screen and (max-width: 740px){
    .search-form__input{
        max-width: 30%;
    }

    .search-form__checkmark {
        margin-left: 0;
    }

    ::placeholder {
        font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #A0A0A0;
      }
      
      .search-form__input {
        font-size: 14px;
        line-height: 20px;
    }

      :-ms-input-placeholder { 
        font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #A0A0A0;
      }
      
      ::-ms-input-placeholder { 
        font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #A0A0A0;
      }
}

@media screen and (max-width: 540px) {
    .search-form{
       position: relative;
       background-image: none;
       padding-left: 19px;
       padding-right: 19px;
       margin-bottom: 108px;
    }

    .search-form__btn {
        margin: 0 0 0 auto;
    }



    .search-form__label_checkbox{
        position: absolute;
        bottom: -72px;
        right: 0;
        left: 0;
        margin: 0 auto;
        justify-content: center;
        font-size: 11px;
    }

  
}