.movies-saved{
    padding: 67px 70px 82px;
    width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
}

@media screen and (max-width: 1280px) {
    .movies-saved{
        width: 100%;
        padding: 67px 30px 82px;
    }   
}


@media screen and (max-width: 375px) {
    .movies-saved{
        padding: 77px 10px 82px;
    }   
}