.registration-form{
    padding: 0 0 70px;
    max-width: 396px;
    margin: 0 auto;
    min-height: 64vh;
    position: relative;
    text-align: left;
}

.registration-form__logo{
    box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0);
    transition: box-shadow ease-out 0.3s;
}

.registration-form__logo:hover{
    box-shadow: 0px 2px 0px 0px rgba(7, 48, 66, 1);
}

.registration-form__title{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #000000;
    padding: 40px 0 30px;
    margin: 0;
}

.registration-form__label{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    display: block;
    text-align: left;
    margin: 0;
    padding: 4px 0 10px;
    position: relative;
}


.registration-form__input{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #000000;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
    outline:none;
}


.registration-form__input:valid{
    background-color: rgba(43, 224, 128, 0.02);
    outline: rgba(43, 224, 128, 0.2) 1px solid;
}

.registration-form__input_invalid{
    color: #FF3055;
    background-color: rgba(255, 48, 85, 0.02);
    outline: rgb(255, 48, 85, 0.2) 1px solid;
    border-radius: 8px;
}

.registration-form__input:focus{
    background-color: rgb(52 86 243 / 4%);
    border-radius: 12px;
}

.registration-form__err-msg{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.registration-form__wrap{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    text-align: center;
}

.registration-form__submit{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none;
    background: #3456F3;
    border-radius: 3px;
    display: block;
    width: 396px;
    height: 45px;
    padding: 0;
    margin: 0 0 16px;
}

.registration-form__submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.registration-form__submit:disabled{
    background: #F8F8F8;
    cursor: none;
    color: #C2C2C2;
}

.registration-form__text{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    color: #A0A0A0;
    padding: 16px 0 0;
    margin: 0;
}

.registration-form__link{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;    
    color: #3456F3;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.registration-form__link:hover{
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .registration-form {
        min-height: 67vh;
    }
}

@media screen and (max-width: 420px) {
    .registration-form{
        max-width: 85%;
        
    }

    .registration-form__submit {
        max-width: 100%;
    }

    .registration-form__text, 
    .registration-form__link,
    .registration-form__submit {
        font-size: 12px;
        line-height: 15px;
    }
}