.footer{
    width: auto;
    padding: 77px 70px 20px; 
    width: 1280px;
    max-width: 100%;
    margin: 0 auto; 
    flex-shrink: 0;
}

.footer__title{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;    
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 20px;
    margin: 0;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
}

.footer__copyright{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 20px 0 0;
    margin: 0;
}

.footer__socials{
    list-style: none;
    display: flex;
    padding: 20px 0 0;
    margin: 0;
}

.footer__social{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    margin: 0 0 0 20px;
    padding: 0;
    text-decoration: none;
    transition: color ease-in-out 0.4s;
}

.footer__social:hover{
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1280px) {
    .footer{        
        padding: 18px 30px;
    }    
}

@media screen and (max-width: 768px) {
    .footer{        
        padding: 57px 30px 18px;
    }    
}

@media screen and (max-width: 375px) {
    .footer {
        padding: 40px 14px 18px;
    }
    
    .footer__title{
        font-size: 12px;
        line-height: 15px;
    }  
    
    .footer__wrap {
        flex-direction: column-reverse;
    }

    .footer__socials {
        flex-direction: column;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        padding-top: 28px;
    }

    .footer__social{        
        padding: 10px 0 0 0;
        font-size: 12px;
        line-height: 2.2;
        margin: 0;
    }

    .footer__copyright {
        font-size: 12px;
        line-height: 15px;
        color: #A0A0A0;
        text-align: center;
        padding-top: 25px;
    }

}