.techs{
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
}

.techs__wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 70px 50px;
}

.techs__title{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    width: 100%;
    padding: 0 0 23px;
    margin: 0;
    border-bottom: 1px solid #000000;
}

.techs__subtitle{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding: 90px 0 13px;
}

.techs__text{
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding: 13px 0 50px;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -0.03em;
}

.techs__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    gap: 10px;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
    flex-wrap: wrap;
    max-width: 690px;
}

.techs__item{
    width: 90px;
    height: 60px;
    background: #E8E8E8;
    border-radius: 10px; 
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 4.2;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
}


@media screen and (max-width: 1280px) {
    .techs{        
        padding:  110px 30px;
    }    
}

@media screen and (max-width: 800px) {
    .techs__item{
        width: 84px;
        height: 57px;       
        font-size: 12px;
        line-height: 5;
       
    }
    
}

@media screen and (max-width: 768px) {
    .techs__wrap{        
        padding:  20px 30px 0;
    }    

   .techs__subtitle {
        padding: 77px 0 9px;
    }

    .techs__text{
        font-size: 12px;
        line-height: 18px;
        max-width: 460px;
    }

    .techs__list {
        padding: 38px 0;
        justify-content: left;
    }
   
}

@media screen and (max-width: 375px) {
    .techs {
        padding: 0;
    }
    
    .techs__wrap {
        padding: 41px 18px 82px;
    }
    
    .techs__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 26px;
    }

    .techs__subtitle {
        font-size: 30px;
        line-height: 36px;
        padding-top: 62px;
    }

    .techs__list {
        padding: 0px 20px;
    }

    .techs__text {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 40px;
    }

}